
/* ==============  Common Css Start ============= >>> */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body { 
	padding:        0;
	margin:         0;
	max-width:      100%;
	overflow-x:     hidden;
	font-family:   'Noto Sans Kr' , arial; 
	background-color: black;
}

#foundation { 
	background-color: #212121;
	padding:0;
	color:gray;
}


button {
	outline: none;
	border: none;
}
/* <<< ==============  Common Css End ============= */


/* ==============  Media Screen Start ============= >>> */

/*   Mobile   */
@media screen and  (max-width: 1060px) {
	#foundation { 
		font-size:  30px;
		margin:0;
		padding:0;
		width:100%;
	}

}

/*   Web page   */
@media screen and (min-width:1061px) {
	#foundation { 
		font-size:  20px;
		margin:0 auto;
		width:80%;
	}
}
/* <<< ==============  Media Screen End ============= */
